/* GlobalStyle */
* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    margin: 0;
    padding: 0;
}

/* NavStyles */
nav {
    display: flex;
    justify-content: space-between;
    background-color: coral;
    color: whitesmoke;
    padding: 1rem;
}

nav div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

nav .fa-door-open {
    color: red;
}

/* BodyStyles */

body {
    background-color: black;
}

/* objectContainerStyles */

.objectContainer {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.objectContainer form {
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    padding: 5rem;
    color: black;
    border-radius: 1rem;
}

.objectContainer input[type="text"] {
    border: none;
    padding: 5px;
    margin: 5px;
    outline: unset;
}

.objectContainer input[type="text"]:focus {
    border-bottom: 5px solid black;
}

.objectContainer form button {
    border: none;
    background-color: orange;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.objectContainer form button:hover {
    border: none;
    background-color: rgb(219, 154, 33);
}

.integrityContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.integrityContainer .col {
    background-color: whitesmoke;
    width: 100%;
    border: 1px solid orange;
    font-size: large;
}
